body{
    margin: 0;
    padding: 0;
    background: url(bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.registerbox{
    width: 320px;
    height: 500px;
    background: #ebdc0f;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.registerbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.registerbox input{
    width: 100%;
    margin-bottom: 20px;
}
.registerbox input[type="text"], input[type="email"], input[type="number"]{
    border: none;
    border-bottom: 1px solid rgb(58, 55, 55);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(27, 25, 25);
    font-size: 16px;
}
.registerbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.registerbox input[type="submit"]:hover{
    cursor: pointer;
    background: #00ff22;
    color: #000;
}
.registerbox a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: #1aabee;
}
.registerbox a:hover{
    color: #00ff22;
}